a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color:#CF5C36;
}

body{
    background-color: #81B29A;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

hr{
    border-color: black;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

button{
    background-color: #CF5C36;
    border-radius: 2rem;
    font-size: 2rem;
    padding: 1rem;
    width: 50%;
    display: block;
}

.banner-row{
    background-color: #CF5C36;
}

.nav-row{
    background-color: #204E4A;
    height:6rem;
}
.logo {
    display: block;
    height: 15rem;
    margin: auto;
}

.navbar-nav{
    display: flex;
    justify-content:space-between;
    list-style: none;
    font-size: 45px;
    padding-left: -5px;
}

.heading{
    background-color:#CF5C36;
    border-color: black;
    text-align: center;
    margin-left: 40rem;
    margin-right: 40rem;
    border-radius: 2rem;
    margin-top: 2rem;
    font-size: 3rem;
    border-style: solid;
    width: 40%;   
}

.heading1{
    color: #ffffff;
}

h2{
    font-size: 3rem;
    margin-left: 5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-align: center;
    color: #ffffff;
}

h3{
    font-size: 3rem;
    font-style: italic;
    font-family:serif bold;
    padding-bottom: 1rem;
}

.Title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
    text-align:center;
    margin-top: 3rem;
    margin-left: 460px;
    width: 40%;
    background-color: #CF5C36;
    border-color: black;
    border-radius: 2rem;
    border-style: solid;
}

.Title1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    text-align:center;
    margin-top: 3rem;
    margin-left: 460px;
    width: 40%;
    background-color: #CF5C36;
    border-color: black;
    border-radius: 2rem;
    border-style: solid;
    color: black;
}
.title-1{
    padding-top: 1rem;
    font-size: 2rem;
    text-align: left;
    margin-left: 560px;
    color: black;
}

.box-name{
    color: black;
    background-color:#F1EB90;
    border-color: black;
    border-style: solid;
    font-size: 1.5rem;
    padding: 1rem;
}

p{
    text-align:center;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-style: italic;
}

.paragraph-1{
    font-style: italic;
    font-size: 2rem;
    text-align: left;
}

.paragraph-2{
    font-style: normal;
    font-size: 2.5rem;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.paragraph-3{
    font-size: larger;
    text-align: left;
    margin-top: 2px;
    margin-left:36rem;
    margin-right: 8rem;
}

.container{
    text-align: center;
}

.container-1{
    background-color: #ffffff;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 3rem;
    padding-left: 22px;
    padding-right: 22px;
    border-style: solid;
}

.container-2{
    background-color: #204E4A;
    width: 100%;
}

form{
    background-color: #F1EB90;
    border-style: solid;
    margin: 3rem;
}

label{
    font-size: 2rem;
    display:flex;
    font-style: italic;
    font-weight: 600;
    width: 100%
}

.row input{
    background-color: #204E4A;
    border-radius: 2rem;
    margin-top: 0.5rem;
    padding: .8rem;
    display: block;
    width: 100%;
    color: #ffffff;
}

textarea{
    width: 100%;
    background-color: #204E4A;
    color: #ffffff;
}

.image a {
    display: block;
}
.image img {
    display: block;
    width: 100%;
    padding-top: 50px;
}
.image1 img {
    display: block;
    margin-top:-525px;
    margin-left: 5rem;
    align-items: center;
}
.bg{
    width: 100%;  
    overflow: hidden;
}

.bg img{
    width: 100%;
}

.column{
    flex: 1; 
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    background-color: #204E4A;
    margin-bottom: 10rem;
    margin-top: 10rem;
    margin-left: 60px;
}

.column1{
    flex: 1; 
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    background-color: #204E4A;
    margin-right: 50px;
}
.container-3 {
    display: flex; 
}
    
.column img {
    margin-top: 45px;
    margin-left: 10px;
}

.column1 img {
    margin-bottom: -10px;
}

footer{
    background-color: #204E4A;
    color:#F2F4F3;
    font-size:2rem;
    margin-top: 10%;
    padding:1.11rem 0;
}

