a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color:#CF5C36;
}

body{
    background-color: #81B29A;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

hr{
    border-color: black;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

button{
    background-color: #CF5C36;
    border-radius: 2rem;
    font-size: 2rem;
    padding: 1rem;
    width: 50%;
    display: block;
}

.banner-row{
    background-color: #CF5C36;
}

.nav-row{
    background-color: #204E4A;
    height:6rem;
}
.logo {
    display: block;
    height: 15rem;
    margin: auto;
}

.navbar-nav{
    display: flex;
    justify-content:space-between;
    list-style: none;
    font-size: 45px;
    padding-left: -5px;
}

.heading{
    background-color:#CF5C36;
    border-color: black;
    text-align: center;
    margin-left: 40rem;
    margin-right: 40rem;
    border-radius: 2rem;
    margin-top: 2rem;
    font-size: 3rem;
    border-style: solid;
    width: 50%;   
}

.heading1{
    color: #ffffff;
}

h2{
    font-size: 2.5rem;
    margin-left: 5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

h3{
    font-size: 3rem;
    font-style: italic;
    font-family:serif bold;
    padding-bottom: 1rem;
}

.Title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
    text-align:center;
    margin-top: 3rem;
}

.title-1{
    padding-top: 3rem;
    font-size: 3rem;
}

p{
    text-align:center;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-style: italic;
}

.paragraph-1{
    font-style: italic;
    font-size: 2rem;
    text-align: center;
}

.paragraph-2{
    font-style: normal;
    font-size: 2.5rem;
    line-height: 60px;
    padding-left: 100px;
    padding-right: 100px;
}

.container{
    text-align: center;
}

.container-1{
    background-color: #ffffff;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 3rem;
    padding-left: 22px;
    padding-right: 22px;
    border-style: solid;
}

.container-2{
    background-color: #204E4A;
    width: 100%;
}

form{
    background-color: #F1EB90;
    border-style: solid;
    margin: 3rem;
}

.box1{
    background-color: #204E4A;
    margin-left: 80px;
    margin-right: 200px;
}

.box2{
    background-color: #204E4A;
    display: flex;
    margin-left: 100px;
    margin-right: 200px;
}

label{
    font-size: 2rem;
    display:flex;
    font-style: italic;
    font-weight: 600;
    width: 100%
}

.row input{
    background-color: #204E4A;
    border-radius: 2rem;
    margin-top: 0.5rem;
    padding: .8rem;
    display: block;
    width: 100%;
    text-decoration-color: #F2F4F3;
}

textarea{
    width: 100%;
    background-color: #204E4A;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 250px;
    margin-top: 50px;
  }

.gallery img{
    width: auto;
    height: 300px;
    border: 1px solid #000000;
}

.gallery1 {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 400px;
    margin-top: 50px;
  }

  .gallery1 img{
    width: auto;
    height: 300px;
    border: 1px solid hsl(0, 0%, 0%);
}

.image-container {
    position: relative;
    width: 300px;
    margin-left: 100px;
    display: flex;
}

.image-container img {
    width: 100%;
    height: auto;
    display: flex;
}

.name-box {
    position:relative;
    width: 100%;
    background-color:#F1EB90;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    font-size: x-large;
    display: flex;
}

.bg{
    width: 100%;  
    height: 300px;
    overflow: hidden;
}

.bg img{
    width:100%;
}

footer{
    background-color: #204E4A;
    color:#F2F4F3;
    font-size:2rem;
    margin-top: 10%;
    padding:1.11rem 0;
}







